{% extends '../index.html' %}
{% block content %} 

<html>
    <body>
        <div class="container py-5">
            <form method="GET">
                <ul class="card homepage-card mr-auto">
                    <li class="card-item">
                        <!-- <button class="btn btn-primary" type="submit">Seminar!</button> -->
                        <a class="card-link" href="/web/seminar">Lets learn in the Seminars!</a>
                    </li>
                    <li class="card-item">
                        <a class="card-link" href="/web/activity">New activities and skills awaits you!</a>
                    </li>
                    <li class="card-item">
                        <a class="card-link" href="/web/connections">Connecting you to meet new people!</a>
                    </li>
                </ul>
            </form>
        </div>
    </body>
</html>


{% endblock %}