{% extends '../index.html' %}
{% block content %} 
{% load crispy_forms_tags %}
{% if user.is_authenticated %}

<html>
    <body>
        <div class="container py-5">
            {% for rows in data %}
                <div class="card-title"></div>
                <p class="card-item">{{rows.name}}</p>
                <form method="POST" action="{%url 'web:postSeminar'%}"">
                    {% csrf_token %}
    
                    <button class="btn btn-primary" type="submit">
                        <a href={{rows.link}} rel="noopener noreferrer" target="blank">{{rows.link}}</a>
                    </button>
                </form>
            {% endfor %}

        </div>
    </body>
</html>

{% endif %}
{% endblock %}